body{
    overflow-x: hidden;
}
.bs-example{
    margin: 20px;
    background-color: yellowgreen;
}
.transparent{
    background: rgba(0, 0, 0, 0.5);
}
.height{
    height: 100vh;
}
.left{
    padding-left: 70px;
}
.icon{
    font-size: 30px;
    color: white;
}
.navbar-toggler-icon{
    background-color: white;
}
.nav-item{
    color: white !important;
}
.title-underline{
    width: 150px;
    margin: auto;
    border: 3px solid black;
}
@media only screen and (min-width: 1081px){
 .navbar-nav {
    margin-left: 400px !important;
}
.logo{
    color: white;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 358px !important;
}

}
@media only screen and (max-width: 1080px) and (min-width: 541px){
    .navbar-nav {
       margin-left: 105px !important;
   }
   .logo{
       color: white;
       font-size: 22px;
       margin-top: 10px;
       margin-left: 80px !important;
   }
   }
@media only screen and (max-width: 540px) and (min-width: 320px){
    .navbar-nav {
        display: flex;
    }
    .logo{
        color: white;
        font-size: 22px;
        margin-top: 10px;
        margin-left: 25px !important;
    }
     .bs-example{
        width: 320px;
    } 
    .container{
        width: 320px;
    }
    #main{
        width: 280px;
    }
    } 

/* card */
